{% extends "form_div_layout.html.twig" %}

{# form_row #}
{# form_widget #}
{# form_label #}
{# form_errors #}
{# form_start #}
{# form_rest #}
{# form_end #}

{% block form_row %}
    <div class="form-group{{ errors|length>0 ? ' has-error' :''}}" class="control-label" >
        {{form_label(form)}}
        {{form_widget(form)}}
        {{form_errors(form)}}
    </div>
{% endblock form_row %}

{% block submit_widget %}
    {% set attr = attr|merge({'class':attr.class|default('') ~ 'btn btn-primary'}) %}
    {{ parent() }}
{% endblock submit_widget %}

{% block textarea_widget %}
    {% set attr = attr|merge({'class':attr.class|default('') ~ ' form-control'}) %}
    {{ parent() }}
{% endblock textarea_widget %}

{% block form_widget_simple %}
    {% set attr = attr|merge({'class':attr.class|default('') ~ ' form-control'}) %}
    {{ parent() }}
{% endblock form_widget_simple %}

{% block form_errors %}
    {% if errors | length > 0 %}
        <ul class="list-unstyled">
            <span class="help-block">
                {% for error in errors %}

                    <li><i class="glyphicon glyphicon-exclamation-sign"> </i> {{ error.message }}  </li> 

                {% endfor %}
        </ul>
    {% endif %}
{% endblock form_errors %}
