{% extends "::layout.html.twig" %}

{% block content  %}
    <h1> {{ 'blog_category' | trans }}</h1> 
    <table class="table table-striped"> 
        <tr>
            <th>#</th>
            <th>{% trans %}blog_category_form_title{% endtrans %}</th> 
            <th> actions </th> 
        </tr>

        {% for category in categories %}
            <tr>
                <td>{{ category.id }} </td>
                <td>{{ category.name}} </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btb-xs btn-primary dropdown-toggle" data-toggle="dropdown" >
                        <span class="caret"></span>
                        <span class="sr-only"> Toggle Dropdown </span>
                        </button>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('blog_category_update',{id: category.id})}}" > Editer </a> </li>
                        <li><a href="{{ path('blog_category_delete',{id: category.id})}}"> Supprimer </a> </li>
                    </ul>
                    </div>
                </td>

            </tr>
        {% endfor %}
    </table

{% endblock %}

